<main class="container d-flex align-items-center">
  <div class="row text-center justify-content-center">
    <div class="col">
      <h1>Welcome Worlds</h1>
      <div id="app"></div>
    </div>
  </div>
</main>